/* What paragraphs in general should be styled as */
/* p {
    font-size: 20px;
    font-family: courier;
    background-color: rgb(241, 235, 235);
} */

/* What h1 in general should be styled as */
h1 {
    font-family: 'Times New Roman';
    background-color: cadetblue;
    color: white;
}

/* What a heading class should be styled as */
.heading {
    background-color: rgb(201, 97, 18);
    color: yellow;
}

/* What a head id should be styled as */
#head {
    color: rgb(10, 127, 10);
}