header {
    background-color: #79a3b1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fffbea;
    color: #333;
    padding: 0;
}

header h1 {
    margin: 0;
}

main {
    width: 80%;
    margin: 20px auto;
}

.introduction, .ingredients, .instructions {
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

ul, ol {
    margin-left: 20px;
}

footer {
    text-align: center;
    background-color: #79a3b1;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}