/* This is an external CSS code file. 
   We will be changing the style of Heading 1 using Element Selectors
   and Heading 2 using ID Selectors */

h1 {
  text-align: center;
  font-family: Montserrat, Helvetica;
  font-size: 40px;
  color: brown;
  padding-top: 20px;
}

#welcome_everyone {
  text-align: center;
  font-family: Montserrat, Helvetica;
  font-size: 26px;
  font-style: italic;
  color: darkgoldenrod;
}

.endingMessage {
  text-align: center;
  font-family: Bubbly;
  font-size: 20px;
  background-color: aqua;
  color: darkslateblue;
  margin-bottom: -18px;
}

h3.endingMessage {
  padding-bottom: 20px;
}
