.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
}

.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}

.messages li.info {
    background-color: #d1ecf1;
    color: #0c5460;
}
