<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD - Django</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 bg-light" style="border:1px solid ; background-color:#1111; border-radius: 10px;">
    <h1 class="m-4 text-center">User Records <a href="add/" class="btn btn-primary">Add User</a></h1>
    <table class="table table-bordered">
        <tr class="bg-info text-white text-center ">
            <td > ID</td>
            <td> Name </td>
            <td> Photo  </td>
            <td> Email id </td>
            <td> Password </td>
            <td> Mobile Number</td>
            <td>Date of birth</td>
            <td> Action  </td>
        </tr>
        {%for rec in records %}
        <tr class="text-center">
            <td>{{forloop.counter}}</td>
            <td>{{rec.name}}</td>
            <td><img src="/media/{{rec.photo}}"class="rounded-circle" height="70px" width="70px"></td>
            <td>{{rec.email}}</td>
            <td>{{rec.password}}</td>
            <td>{{rec.mobile_number}}</td>
            <td>{{rec.date_of_birth}}
            <td> <a href="edit/{{rec.id}}" class="btn btn-success">Edit</a>/
                <a href="delete/{{rec.id}}" class="btn btn-danger">Delete</a>/
                <a href="view/{{rec.id}}" class="btn btn-primary">View</a>
            </td>
        </tr>
    {%endfor%}
    </table>
</div>
</body>
</html>