{% extends 'registration/base.html' %}
{% load static %}

{% block head %}
    <title>{{ form_type }} Account</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}


{% block body %}
<div class="container">
    <h1>{{ form_type }} Account</h1>
    <form id="userRegisterForm" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="account_type">Account Type</label>
        <select name="account_type" id="account_type">
            <option value="basic">Basic</option>
            <option value="admin">Admin</option>
        </select><br>
        <br><input type="submit" value="Submit">
    </form>
</div>
{% endblock %}